<div data-container="" data-component="container" class="trillo-container" data-category="container" name="p1" nm="p1" style="padding: 0px 20px; display: flex; flex-direction: column; flex-grow: 1;">
  <div data-component="row" class="trillo-container-row" nm="headerRow" name="headerRow" style="height: 49px;">
    <div data-component="container" class="container-fluid" nm="container_1" data-trigger="_initial_" tag="userDefined" style="min-height: 100px;"> </div>
    <div class="sidebar has-drop-zone" data-color="rose" data-background-color="black" data-image="/$org_name$/app2/static/img/cust.png" nm="sidebar_1" name="sidebar_1" data-reference="sidebar" data-component="view" data-trigger="_initial_" tag="userDefined" style="flex-grow: 1;"></div>
    <div nm="topNav_1" name="topNav_1" class="" data-reference="topNav" data-component="view" data-trigger="_initial_" tag="userDefined" style="height: 81px; flex-grow: 1;"></div>
  </div>
  <div data-component="row" class="trillo-container-row" nm="mainRow" name="mainRow">
    <div data-component="column" class="trillo-container-column" nm="mainContentArea" name="mainContentArea"> </div>
    <div data-component="row12Col" data-row="" class="row" nm="row12Col_1" data-trigger="_initial_" tag="userDefined">
      <div data-column="" class="col-12" data-sub-component="colOfR12C" nm="colOfR12C_1"> </div>
    </div>
  </div>
</div>
